<ng-container *ngIf="loading.isLoading$ | async; else loaded">
  <mat-spinner></mat-spinner>
</ng-container>
<ng-template #loaded>
  <mat-card>
    <form (submit)="onSavePost()" [formGroup]="postForm">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input
          matInput
          type="text"
          formControlName="title">
        <mat-error *ngIf="titleErrorMessage">{{ titleErrorMessage }}</mat-error>
      </mat-form-field>
      <div>
        <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
        <input type="file" #filePicker (change)="onImagePicked($event)">
        <mat-error *ngIf="imageErrorMessage">{{ imageErrorMessage }}</mat-error>
      </div>
      <div class="image-preview" *ngIf="postForm.controls['image'].valid && previewImage">
        <img [src]="previewImage" [alt]="postForm.controls['title'].value">
      </div>
      <mat-form-field>
        <mat-label>Post Content</mat-label>
        <textarea
          matInput cols="30" rows="6"
          formControlName="content">
      </textarea>
        <mat-error *ngIf="postForm.controls['content'].invalid">Please enter a post content</mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="accent"
        type="submit"
      >
        {{ isEditing ? 'Update Post' : 'Save Post' }}
      </button>
    </form>
  </mat-card>

  <pre>
    touched: {{ postForm.controls['image'].touched }}
    dirty: {{ postForm.controls['image'].dirty }}
    pending: {{ postForm.controls['image'].pending }}
    pristine: {{ postForm.controls['image'].pristine }}
    status: {{ postForm.controls['image'].status }}
    untouched: {{ postForm.controls['image'].untouched }}
    valid: {{ postForm.controls['image'].valid }}
    invalid: {{ postForm.controls['image'].invalid }}
  </pre>
</ng-template>
